.footer {
  min-height: 50px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #470560;
  border-top-style: solid;
  border-top-width: 6px;
  -webkit-box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
}
